.game{
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__fps {
  text-align: center;
}

.divisior{
  width: 0.1px;
  background-color: white;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__painel {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100px;
}

.main__level {
  font-size: 25px;
  margin: 10px 0;
}

.main__cat {
  text-align: center;
}

.main__image {
  width: 100%;
  height: 100%;
}

.shop {
  width: 500px;
  height: 400px;
  margin: 10px;
  border: 1px solid;
  overflow: auto;
}

.shop__painel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shop__title {
  text-align: center;
  margin: 10px;
}

.shop__button {
  width: 100%;
}

.shop__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: solid;
  font-size: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.shop__item:active{
  transform: scale(0.9);
}

.shop__info{
  font-size: 16px;
}

.shop__quantity{
  font-size: 50px;
}


.furButton__button {
  width: 200px;
  font-size: 25px;
  border-radius: 4px;
}